



<div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Add Product</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="form">
        <div class="p-2 row">

            <div class="mb-3 col-12">
              <label class="form-label">Product Name</label>
              <input type="text" formControlName="name" class="form-control" required>
            </div>
      
            <div class="mb-3 col-12">
              <label class="form-label">Description</label>
              <textarea class="form-control" formControlName="description" rows="3"></textarea>
            </div>
            
            <div class="mb-3 col-6">
              <label class="form-label">Cost Price</label>
              <input type="text" formControlName="costPrice" class="form-control" required>
            </div>
      
            <div class="mb-3 col-6">
              <label class="form-label">Selling Price</label>
              <input type="text" formControlName="sellingPrice" class="form-control" required>
            </div>
      
            <div class="mb-3 col-6">
              <label class="form-label">Reorder Quantity</label>
              <input type="text" formControlName="reorderQuantity" class="form-control" required>
            </div>
      
            <div class="mb-3 col-6">
              <label class="form-label">Unit</label>
              <input type="text" class="form-control"  formControlName="unit" required>
            </div>
      
            
            
      </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="onSubmit(form)">Save</button>
</div>
